In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [5]:
data = pd.read_csv('athlete_events.csv')

In [6]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [7]:
new_data = data[data.Year == 1996]
new_data[new_data['Sex'] == 'M']['Age'].min() #the youngest male was 14 years old

14.0

In [8]:
new_data[new_data['Sex'] == 'F']['Age'].min() #the youngest female was 12 years old

12.0

In [9]:
n_data = data[data.Year == 2000][data.Sex == 'M']
np.round(n_data[n_data['Sport'] == 'Athletics'].shape[0]/n_data.shape[0], decimals = 1)
#процент мужчин-атлетов в 2000 году -  0.2

0.2

In [10]:
f_data = data[data.Year == 2000][data.Sex == 'F']
np.round(f_data[f_data['Sport'] == 'Basketball']['Height'].describe()[1], decimals = 1)  
#средний рост баскетболистки Олимпийских игр 2000

182.4

In [11]:
np.round(f_data[f_data['Sport'] == 'Basketball']['Height'].describe()[2], decimals = 1)
#среднеквадратическое отклонение

9.1

In [12]:
h_data= data[data['Year'] == 2002]
h_data[h_data['Weight'] == h_data['Weight'].max()]['Sport']
#ответ - бобслей

99154    Bobsleigh
Name: Sport, dtype: object

In [13]:
data[data['Name'] == 'Pawe Abratkiewicz']['Year'].nunique() #Спортсмен учавствовал в 
#соревнованиях в трёх разных годах

3

In [14]:
data[data['Team'] == 'Australia'][data['Year'] == 2000][data['Sport'] =='Tennis']['Medal'].value_counts()
#2 медали

Silver    2
Name: Medal, dtype: int64

In [15]:
data[data['Team'] == 'Switzerland'][data['Year'] == 2016]['Medal'].value_counts().sum()

11

In [16]:
data[data['Team'] == 'Serbia'][data['Year'] == 2016]['Medal'].value_counts().sum() #У Швейцарии меньше медалей

54

In [17]:
s_data = data.loc[data.Team.isin(['Serbia', 'Switzerland']), ['Team', 'Year' , 'Medal']]
s_data = s_data[s_data['Year'] == 2016]
s_data[s_data['Team'] == 'Serbia']['Medal'].value_counts().sum() #количество медалей у Сербии

54

In [18]:
s_data[s_data['Team'] == 'Switzerland']['Medal'].value_counts().sum() #количество медлаей у Швейцварии 
#второе решение

11

In [19]:
data[data['Year'] == 2014]['Age'].value_counts()

24.0    420
23.0    396
25.0    395
26.0    384
28.0    376
27.0    363
22.0    361
29.0    282
21.0    280
30.0    242
20.0    206
31.0    201
19.0    142
32.0    142
33.0    135
18.0    130
35.0     82
34.0     74
36.0     70
17.0     58
37.0     30
38.0     25
16.0     24
40.0     18
39.0     14
41.0     14
15.0     10
42.0      6
43.0      3
44.0      3
45.0      1
55.0      1
47.0      1
46.0      1
48.0      1
Name: Age, dtype: int64

In [25]:
seas_data = data[data['Season'] == 'Summer']
seas_data[seas_data['City'] == 'Lake Placid'] #летов в Lake Placid не проводились соревнования

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [28]:
seaw_data = data[data['Season'] == 'Winter']
seaw_data[seaw_data['City'] == 'Sankt Moritz'] #зимой в Sankt Moritz проводились соревнования (No,Yes)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
935,529,Karl Gustaf Emanuel Abrahamsson,M,31.0,NaN,NaN,Sweden,SWE,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1187,665,Gilbert Achard-Picard,M,29.0,NaN,NaN,France-2,FRA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN
1439,802,Tadeusz Ralf Adamowski,M,26.0,177.0,70.0,Poland,POL,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
1454,810,Bridget Shirley Adams (-Bengough),F,19.0,NaN,NaN,Great Britain,GBR,1948 Winter,1948,Winter,Sankt Moritz,Figure Skating,Figure Skating Women's Singles,NaN
2707,1508,Enrico Airoldi,M,24.0,NaN,NaN,Italy-2,ITA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270713,135383,Annelore Zckert (-Zrost),F,22.0,NaN,NaN,Austria,AUT,1948 Winter,1948,Winter,Sankt Moritz,Alpine Skiing,Alpine Skiing Women's Downhill,NaN
270714,135383,Annelore Zckert (-Zrost),F,22.0,NaN,NaN,Austria,AUT,1948 Winter,1948,Winter,Sankt Moritz,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
270863,135463,Hans Zurbriggen,M,27.0,NaN,NaN,Switzerland,SUI,1948 Winter,1948,Winter,Sankt Moritz,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
270881,135466,Robert Zurbriggen,M,30.0,NaN,NaN,Switzerland,SUI,1948 Winter,1948,Winter,Sankt Moritz,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
270882,135466,Robert Zurbriggen,M,30.0,NaN,NaN,Switzerland,SUI,1948 Winter,1948,Winter,Sankt Moritz,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

In [45]:
data['Year'].unique() #в 1995 не было игр

array([1992, 2012, 1920, 1900, 1988, 1994, 1932, 2002, 1952, 1980, 2000,
       1996, 1912, 1924, 2014, 1948, 1998, 2006, 2008, 2016, 2004, 1960,
       1964, 1984, 1968, 1972, 1936, 1956, 1928, 1976, 2010, 1906, 1904,
       1908, 1896], dtype=int64)

In [47]:
data[data['Year'] == 2016]['Sport'].nunique() #34 unique sports in 2016

34

In [60]:
data[(data['Year']==2014) & (data['Age']>=45) & (data['Age']<=55)]['Name'].nunique()

5

In [61]:
data[(data['Year']==2014) & (data['Age']>=35) & (data['Age']<=45)]['Name'].nunique()

151

In [62]:
data[(data['Year']==2014) & (data['Age']>=25) & (data['Age']<35)]['Name'].nunique()

1397

In [63]:
data[(data['Year']==2014) & (data['Age']>=15) & (data['Age']<25)]['Name'].nunique()

1193

In [65]:
data[(data['Year']==2014) & (data['Age']>=35) & (data['Age']<45)]['Name'].nunique()
#ответ - [45-55] and [25-35) correspondingly

150